button {
  background: none;
  border: none;

  &.action {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.button {
  border-radius: .625rem;
  padding: .9375rem 1.25rem;
  transition: all ease .3s;


  &.primary-btn {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }

  &.secondary-btn {
    border: 1px solid $blue;
    color: #fff;
    background: $blue;

    &:hover {
      color: $blue;
      border-color: $blue;
      background: transparent;
    }
  }


}