@import 'variables';
@import 'typography';
@import 'inputs';
@import 'animations';
@import 'buttons';

@import 'header';
@import 'footer';
@import 'home';
@import 'about';
@import 'services';
@import 'solutions';
@import 'why-us';
@import 'portfolio';
@import 'newsletter';

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

section {
  @media screen and (max-width:1440px) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.scaling-container {
  overflow: hidden;
}

.scaling-img {
  transition: all ease .2s;
  transform-origin: center;
}


#blob {
  height: 200px;
  position: absolute;
  z-index: 2;
  // opacity: .5;
  aspect-ratio: 1;
  z-index: 500;
  background: linear-gradient(to right, $blue, $black);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
  filter: blur(200px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg
  }
}

#wrapper {
  position: relative;
  display: flex;

  .sidebar {
    position: sticky;
    top: 0;
    width: 150px;
    height: 100vh;
    background: $black;

    button {
      display: block;
      border: none;
      background: none;
      width: max-content;
      margin: 70px auto 0 auto;
    }
  }

  .main-content {
    width: calc(100VW - 150px);
  }
}