#solutions {
  position: relative;
  // margin-top: 12.5rem;
  // margin-bottom: 12.5rem;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;

    @media screen and (max-width:992px) {
      margin: 0;
    }
  }

  .scaling-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    width: 60%;

    @media screen and (max-width:768px){
      width: 50%;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: -6.25rem;
    }
  }

  form {
    margin-top: 6.25rem;
  }

  input[type=text],
  input[type=email] {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    padding-bottom: .3125rem;
    width: 100%;
    outline: none;
  }

  textarea {
    width: 100%;
    height: 150px;
    border: none;
    background: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  input[type=submit] {
    background: $blue;
    border-radius: .625rem;
    height: 3.75rem;
    color: $white;
    border: 1px solid $blue;
    transition: all ease .2s;
    display: inline-block;
    margin-top: 1.875rem;
    width: 250px;


    &:hover {
      background: transparent;
      color: $blue;
    }
  }
}