<section id="about">
  <div class="row mx-0">
    <div class="col-md-6 px-0 scaling-container">
      <img class="scaling-img" src="{{theme.path}}/static/images/about-background.png" alt="" srcset="">
    </div>
    <div class="col-md-6 content">
      <h3 class="small-title">
          QUI SOMMES-NOUS ?
      </h3>
      <h2 class="section-title">We are Experts in Our Field</h2>
      <h4 class="my-4">Tomorrow une agence de professionnels développe des produits et solutions depuis 9 ans.</h4>
      <p>Nous avons reçu de nombreuses récompenses pour notre travail et développons des solutions de communications qui sont devenues populaires dans le monde. Chaque matin dans notre agence en ligne commence par un café chaud et un stand-up. La discussion est une chose importante dans le processus de développement. Ainsi naissent de nouvelles idées et des solutions ingénieuses. Ensuite, nous nous mettons au travail avec une vigueur et une inspiration renouvelées. On ne s'ennuie jamais.</p>
    </div>
  </div>
</section>