<section id="newsletter">
  <div class="newsletter-container">
    <div class="box newsletter">
      <h3 class="small-title">
        NEWSLETTER
      </h3>
      <h2 class="section-title mb-5">Rester en contact<span>.</span></h2>
      <p>Nous sommes reconnaissants de savoir que vous êtes intéressé par notre contenu et nos services.</p>

      <form action="" class="d-flex mt-5 pt-5">
        <input type="email" name="user-email" id="" placeholder="Email">
        <button class="action pulsing"><img src="{{theme.path}}/static/images/send-icon.png" alt="" srcset=""></button>
      </form>
    </div>

    <div class="box note">
      <div class="d-flex">
        <div><img src="{{theme.path}}/static/images/profile.png" alt="" srcset=""></div>
        <div class="px-3">
          <p class="name">Simplice Amany</p>
          <p class="role">CEO Tomorrow Agency</p>
        </div>
      </div>
      <p class="quote">Nous n'abandonnons jamais. Les défis nous rendent plus forts et plus professionnels. Gardez à l'esprit. Il faut se méfier ;)</p>
      <img src="{{theme.path}}/static/images/signature.png" alt="" srcset="">
    </div>
  </div>
</section>