<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="small-title">
          NOS SERVICES
        </h3>
        <h2 class="section-title">Nous faisons tout<span>.</span><br> Oui, tout <span>!</span></h2>
      </div>
      <div class="col-lg-6">
        <p>Vous pourriez être intéressé par ce que nous pouvons vous offrir. Plus de services que vous pouvez trouver ci-dessous. Nous faisons tout à un niveau élevé.</p>
      </div>

      <div class="service-card-container mt-5">
        {% for service in services %}
        <div class="service-card">
          <div class="img-container">
            <img src="{{Image(service.thumbnail).src}}" alt="">
          </div>
          <h4>{{service.title}}</h4>

          <a href="#">LIRE LA SUITE</a>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>
</section>