<section id="solutions">

<div class="scaling-container">
  <img class="scaling-img" src="{{theme.path}}/static/images/solution-background.png" alt="" srcset="">
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h3 class="small-title">
          NOS SERVICES
        </h3>
        <h2 class="section-title">Besoin d'une solution <span>?</span> </h2>
        <p>Nous essayons toujours de mettre en œuvre nos idées créatives au plus haut niveau. Parlez-nous de votre projet et nous le réaliserons.</p>
        {% filter shortcodes %}
         [contact-form-7 id="{{post.get_field('contact_form').id}}"]
        {% endfilter %}

      </div>
    </div>
  </div>
</section>