<section id="why-us">
  <p class="number">05.</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <h3 class="small-title">EN QUELQUES MOTS</h3>
        <h2 class="section-title">Pourquoi nous choisir <span>?</span></h2>
       <div class="row">
        <div class="col-md-9">
         <p>Nous avons reçu de nombreuses reconnaissances pour nos produits et services qui ont prouvé de leur éfficacité.</p>

         <ul class="mt-5">
          <li>
            <h5>Technologies modernes 😎</h5>
            <p>La discussion est une chose importante dans le processus de développement. Ainsi naissent de nouvelles idées et des solutions ingénieuses </p>
          </li>

          <li>
            <h5>Énorme expérience en communication ✌🏽</h5>
            <p>La discussion est une chose importante dans le processus de développement. Ainsi naissent de nouvelles idées et des solutions ingénieuses </p>
          </li>
         </ul>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>