<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a class="logo" href="{{site.link}}"><img src="{{theme.path}}/static/images/logo.png" alt="logo"></a>
      </div>

      <div class="col-5 d-flex align-items-center">
        <ul class="navbar">
         <li><a href="#about">AGENCE</a></li>
         <li><a href="#services">EXPERTISE</a></li>
         <li><a href="#">PROCESS</a></li>
         <li><a href="#portfolio">PORTFOLIO</a></li>
         <li><a href="#solutions">CONTACT</a></li>
        </ul>
      </div>

      <div class="col-4 d-flex align-items-center justify-content-around">
        <a href="#" class="button primary-btn">SE CONNECTER</a>
        <a href="#" class="button secondary-btn">S'INSCRIRE</a>
      </div>
    </div>
  </div>
</div>